<%_  var pageID = 'top'; _%>
<!doctype html>
<html lang="ja">
<head>
  <%- include(relativePath + '_partials/_analytics')%>

  <!-- meta -->
  <%- include(relativePath + '_partials/_meta', {page: pageID})%>

  <!-- stylesheet -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:700,800" rel="stylesheet">
  <link rel="stylesheet" href="/js/vendor/slick/slick.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/top.css">

  <script>
    document.createElement( "picture" );
  </script>
  <script src="/js/vendor/picturefill.min.js" async></script>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "https://www.2ndstreet.jp/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://www.2ndstreet.jp/search?keyword={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  </script>
  <!-- other head items START -->
  <%- include(relativePath + '_partials/_otherheaditems')%>
  <!-- other head items END -->

</head>
<body class="top">
  <%- include(relativePath + '_partials/_gtm-body')-%>

  <div class="l-wrapper" id="pagetop">

    <!-- header START -->
    <%- include(relativePath + '_partials/_header', {page: pageID})-%>
    <!-- header END -->

    <!-- main -->
    <main class="content <% if(conf[pageID].headersub === 'included01'){ %>-subhead01<% } else if (conf[pageID].headersub === 'included02') { %>-subhead02<% } else if (conf[pageID].headersub === 'included03') { %>-subhead03<% } else { %><% } %>">

      <!-- editableInformation -->
      <div class="editableInformation">
        <p>重要なお知らせが入ります。この文章はダミーです。重要なお知らせが入ります。この文章はダミーです。重要なお知らせが入ります。この文章はダミーです。重要なお知らせが入ります。この文章はダミーです。重要なお知らせが入ります。この文章はダミーです。<a href="/information/details">詳しくはこちら</a></p>
      </div>
      <!-- START MainVisual -->
      <div class="mv">
        <div class="mv_anim">

          <div class="mv_anim_unit mv_anim_unit-left">
            <img class="kv-01a" src="/img/top/kv/01/a.png" alt="イメージ画像：取扱商品">
            <img class="kv-02a" src="/img/top/kv/02/a.png" alt="イメージ画像：取扱商品">
            <img class="kv-03a" src="/img/top/kv/03/a.png" alt="イメージ画像：取扱商品">

            <img class="kv-04b half" src="/img/top/kv/04/b.png" alt="イメージ画像：取扱商品">
            <img class="kv-04c half bottom" src="/img/top/kv/04/c.png" alt="イメージ画像：取扱商品">

            <img class="kv-05b half" src="/img/top/kv/05/b.png" alt="イメージ画像：取扱商品">
            <img class="kv-05c half bottom" src="/img/top/kv/05/c.png" alt="イメージ画像：取扱商品">

            <img class="kv-06a" src="/img/top/kv/06/a.png" alt="イメージ画像：取扱商品">

            <img class="kv-07b half" src="/img/top/kv/07/b.png" alt="イメージ画像：取扱商品">
            <img class="kv-07c half bottom" src="/img/top/kv/07/c.png" alt="イメージ画像：取扱商品">

            <img class="kv-08a" src="/img/top/kv/08/a.png" alt="イメージ画像：取扱商品">
          </div>

          <div class="mv_anim_unit mv_anim_unit-left">
            <img class="kv-05d" src="/img/top/kv/05/d.png" alt="イメージ画像：取扱商品">
          </div>

          <div class="mv_anim_unit mv_anim_unit-right">
            <img class="kv-01b half" src="/img/top/kv/01/b.png" alt="イメージ画像：取扱商品">
            <img class="kv-01c half bottom" src="/img/top/kv/01/c.png" alt="イメージ画像：取扱商品">

            <img class="kv-02b half" src="/img/top/kv/02/b.png" alt="イメージ画像：取扱商品">
            <img class="kv-02c half bottom" src="/img/top/kv/02/c.png" alt="イメージ画像：取扱商品">

            <img class="kv-03b half" src="/img/top/kv/03/b.png" alt="イメージ画像：取扱商品">
            <img class="kv-03c half bottom" src="/img/top/kv/03/c.png" alt="イメージ画像：取扱商品">

            <img class="kv-04a" src="/img/top/kv/04/a.png" alt="イメージ画像：取扱商品">

            <img class="kv-05a" src="/img/top/kv/05/a.png" alt="イメージ画像：取扱商品">

            <img class="kv-06b half" src="/img/top/kv/06/b.png" alt="イメージ画像：取扱商品">
            <img class="kv-06c half bottom" src="/img/top/kv/06/c.png" alt="イメージ画像：取扱商品">

            <img class="kv-07a" src="/img/top/kv/07/a.png" alt="イメージ画像：取扱商品">

            <img class="kv-08b half" src="/img/top/kv/08/b.png" alt="イメージ画像：取扱商品">
            <img class="kv-08c half bottom" src="/img/top/kv/08/c.png" alt="イメージ画像：取扱商品">
          </div>

          <div class="mv_anim_unit mv_anim_unit-right">
            <img class="kv-01d" src="/img/top/kv/01/d.png" alt="イメージ画像：取扱商品">
            <img class="kv-08d" src="/img/top/kv/08/d.png" alt="イメージ画像：取扱商品">
          </div>

        </div>

        <p class="mv_lead"><span class="en RalewayBold">What do you want?</span><span>セカンドストリートで何をする？</span></p>
        <div class="mv_category">
          <button class="mv_category_item mv_category_item-sell" id="js-sellBtn"><span class="en RalewayExtraBold">SELL</span><span class="jp NotoSansMedium">売りたい</span><span class="plusIcon u-hidden-md u-hidden-lg"></span></button>
          <button class="mv_category_item mv_category_item-buy" id="js-buyBtn"><span class="en RalewayExtraBold">BUY</span><span class="jp NotoSansMedium">買いたい</span><span class="plusIcon u-hidden-md u-hidden-lg"></span></button>
        </div>

        <div class="mv_menu mv_menu-sell">
          <div class="mv_menu_inner">
            <p class="mv_category_item mv_category_item-sell u-hidden-md u-hidden-lg"><span class="en RalewayExtraBold">SELL</span><span class="jp NotoSansMedium">売りたい</span></p>
            <p class="mv_menu_txt NotoSansMedium">売りかたに迷ったらこちら!</p>
            <button class="mv_menu_sellMethod m-btnEffect js-diagnosisModalTrigger">売りかたナビ<span class="plusIcon"></span></button>

            <button class="mv_menu_btn js-accordionTrigger"><span class="en RalewayExtraBold">STORE</span><span>店頭で売る</span></button>
            <div class="js-accordionContent">
              <ul class="mv_menu_detail">
                <li><a href="/sell/store/">店頭買取とは</a></li>
                <li><a href="/shop">店舗検索</a></li>
              </ul>
            </div>

            <button class="mv_menu_btn js-accordionTrigger"><span class="en RalewayExtraBold">WEB</span><span>発送して売る</span></button>
            <div class="js-accordionContent">
              <ul class="mv_menu_detail">
                <li><a href="/sell/web/">Web買取とは</a></li>
                <li><a href="/mypage/webbuy">Web買取の申込み</a></li>
              </ul>
            </div>

            <button class="mv_menu_btn js-accordionTrigger"><span class="en RalewayExtraBold">VISIT</span><span>出張買取で売る</span></button>
            <div class="js-accordionContent">
              <ul class="mv_menu_detail">
                <li><a href="/sell/visit/">出張買取とは</a></li>
                <li><a href="/shop">店舗検索</a></li>
              </ul>
            </div>

            <div class="mv_menu_foot">
              <a href="/sell/" class="mv_menu_foot_txt">買取サービスのご案内</a>
              <a href="#" class="mv_menu_prev" id="js-prevSellBtn"><span>戻る</span></a>
            </div>
          </div>
        </div>

        <div class="mv_menu mv_menu-buy">
          <div class="mv_menu_inner">
            <p class="mv_category_item mv_category_item-buy u-hidden-md u-hidden-lg"><span class="en RalewayExtraBold">BUY</span><span class="jp NotoSansMedium">買いたい</span></p>
            <a href="/shop" class="mv_menu_btn"><span class="en RalewayExtraBold">STORE</span><span>店頭で探す</span></a>
            <a href="/store" class="mv_menu_btn"><span class="en RalewayExtraBold">WEB</span><span>オンラインストアで探す</span></a>
            <div class="mv_menu_foot">
              <a href="#" class="mv_menu_prev" id="js-prevBuyBtn"><span>戻る</span></a>
            </div>
          </div>
        </div>

      </div>
      <!-- END MainVisual -->

      <!-- editableBanner -->
      <div class="editableBanner">
        <a href="/information/details">
          <%- include(relativePath + '_utilities/_picture', {src: '/img/top/banner_img_sm.jpg', alt: 'リンク：Winter Sale'});%>
        </a>
      </div>

      <section class="information section js-waypointTarget">
        <h2 class="section_title RalewayExtraBold">INFORMATION</h2>
        <ul class="information_news">
          <li class="information_news_item">
            <span class="information_news_item_tag information_news_item_tag-magazine">MAGAZINE</span>
            <time class="information_news_item_time" datetime="2018-12-12">2018.12.12</time>
            <a href="/information/details" class="information_news_item_txt">セカンドストリートのWebマガジン、knowbland magazineの記事を更新しました。セカンドストリートのWebマガジン、knowbland magazineの記事を更新しました。</a>
          </li>
          <li class="information_news_item">
            <span class="information_news_item_tag information_news_item_tag-other">OTHER</span>
            <time class="information_news_item_time" datetime="2018-02-12">2018.02.12</time>
            <a href="/information/details" class="information_news_item_txt">12月28日(金) 1:00~7:00 サービスメンテナンスのお知らせ</a>
          </li>
          <li class="information_news_item">
            <span class="information_news_item_tag information_news_item_tag-shop">SHOP</span>
            <time class="information_news_item_time" datetime="2018-12-12">2018.12.12</time>
            <a href="/information/details" class="information_news_item_txt">〇〇〇〇〇〇店がオープンしました。</a>
          </li>
        </ul>
        <div class="information_btn"><a class="m-btn m-btnEffect" href="/information">詳しく見る</a></div>
      </section>

      <section class="onlinestore section js-waypointTarget">
        <h2 class="section_title RalewayExtraBold">ONLINE STORE</h2>
        <div class="onlinestore_img">
          <a href="/store">
            <%- include(relativePath + '_utilities/_picture', {src: '/img/top/onlinestore_img_sm.jpg', alt: 'リンク：セカンドストリートオンラインストア'});%>
          </a>
        </div>
      </section>

      <section class="contents section js-waypointTarget">
        <h2 class="section_title RalewayExtraBold">CONTENTS</h2>
        <div class="contents_group">
          <a href="" class="contents_article" id="js-rssLink">
            <img src="" alt="画像：knowbrand magazine最新コンテンツのイメージ画像" id="js-rssImgPath">
            <p class="contents_article_txt" id="js-rssTitle"></p>
            <p class="contents_article_tag">NEW</p>
          </a>
          <a href="/knowbrand/" class="contents_home clearfix u-hidden-sm">
            <p class="contents_home_logo"><img src="/img/top/contents_txt_lg.png" alt="knowbrand magazine ブランドを知る。歴史を読む。新ファッションWEBマガジン。"></p>
            <button class="contents_home_btn">記事一覧</button>
          </a>
          <a href="/knowbrand/" class="contents_home clearfix u-hidden-md u-hidden-lg">
            <p class="contents_home_logo"><img src="/img/top/contents_logo.jpg" alt="ロゴ：knowbrand magazine"></p>
            <p class="contents_home_heading">knowbrand magazine</p>
            <p class="contents_home_lead">ブランドを知る。歴史を読む。<br>新ファッションWEBマガジン。</p>
            <button class="contents_home_btn">記事一覧</button>
          </a>
        </div>
      </section>

      <section class="coordinates js-waypointTarget">
        <div class="coordinates_inner">
          <div class="coordinates_heading">
            <p class="coordinates_title">今月のテーマ</p>
            <div class="coordinates_heading_inner">
              <p class="coordinates_lead">
                <img src="/img/top/coordinates_lead.jpg" alt="着まわしコーディネート">
              </p>
              <p class="coordinates_txt">毎日のコーデに悩んでいませんか？<br>トレンドを活かしつつ、リユースならではの個性あふれる<br>着まわしコーディネートをご紹介中！</p>
            </div>
          </div>
          <a href="https://www.instagram.com/p/BfNjTClAp2n/" target="_blank" rel="noopener noreferrer" class="coordinates_item coordinates_item-01"><img src="/img/top/coordinates/img_01.jpg" alt="Instagramの投稿画像"></a>
          <a href="https://www.instagram.com/p/BffvTUGAHF8/" target="_blank" rel="noopener noreferrer" class="coordinates_item coordinates_item-02"><img src="/img/top/coordinates/img_02.jpg" alt="Instagramの投稿画像"></a>
          <a href="https://www.instagram.com/p/Bfp-pzmAMQT/" target="_blank" rel="noopener noreferrer" class="coordinates_item coordinates_item-03"><img src="/img/top/coordinates/img_03.jpg" alt="Instagramの投稿画像"></a>
          <a href="https://www.instagram.com/p/BfvDLbSAySp/" target="_blank" rel="noopener noreferrer" class="coordinates_item coordinates_item-04"><img src="/img/top/coordinates/img_04.jpg" alt="Instagramの投稿画像"></a>
          <a href="https://www.instagram.com/p/Bfc4codAePe/" target="_blank" rel="noopener noreferrer" class="coordinates_item coordinates_item-05"><img src="/img/top/coordinates/img_05.jpg" alt="Instagramの投稿画像"></a>
          <a href="https://www.instagram.com/p/BfK57TjgZZv/" target="_blank" rel="noopener noreferrer" class="coordinates_item coordinates_item-06"><img src="/img/top/coordinates/img_06.jpg" alt="Instagramの投稿画像"></a>
          <a href="https://www.instagram.com/p/BfFzCXggl45/" target="_blank" rel="noopener noreferrer" class="coordinates_item coordinates_item-07 u-hidden-sm"><img src="/img/top/coordinates/img_07.jpg" alt="Instagramの投稿画像"></a>
          <a href="https://www.instagram.com/p/BfXyZm8gaLE/" target="_blank" rel="noopener noreferrer" class="coordinates_item coordinates_item-08 u-hidden-sm"><img src="/img/top/coordinates/img_08.jpg" alt="Instagramの投稿画像"></a>
          <a href="https://www.instagram.com/p/BfxmZ0Bg0u9/" target="_blank" rel="noopener noreferrer" class="coordinates_item coordinates_item-09 u-hidden-sm"><img src="/img/top/coordinates/img_09.jpg" alt="Instagramの投稿画像"></a>
        </div>
        <div class="coordinates_btn"><a class="m-btn m-btn-instagram m-btnEffect" href="https://www.instagram.com/2ndstreet_official/" target="_blank" rel="noopener noreferrer">詳しく見る<svg><use xlink:href="/img/common/sprite.svg#instagram" /></svg></a></div>
      </section>

      <section class="usa js-waypointTarget">
        <div class="usa_video u-hidden-sm">
          <video id="usa_video" preload="none" muted loop>
            <source src="/video/usa_web_bg_movie.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="usa_bg u-hidden-md u-hidden-lg">
          <img src="/img/top/usa/bg_01.jpg" alt="背景画像：2nd STREET USA">
          <img src="/img/top/usa/bg_02.jpg" alt="背景画像：2nd STREET USA">
          <img src="/img/top/usa/bg_03.jpg" alt="背景画像：2nd STREET USA">
          <img src="/img/top/usa/bg_04.jpg" alt="背景画像：2nd STREET USA">
          <img src="/img/top/usa/bg_05.jpg" alt="背景画像：2nd STREET USA">
        </div>
        <div class="usa_inner">
          <div class="usa_body">
            <h2 class="usa_title">2nd&thinsp;STREET<br><span class="ls1">U</span><span class="ls2">.</span><span class="ls2">S</span><span class="ls3">.</span><span class="ls3">A</span><span class="ls2">.</span></h2>
            <p class="usa_lead">もうひとつの<br class="u-hidden-md u-hidden-lg">セカンドストリート。</p>
            <ul class="usa_list">
              <li><img src="/img/top/usa/img_01.jpg" alt="2nd STREET USAのInstagram投稿画像"></li>
              <li><img src="/img/top/usa/img_02.jpg" alt="2nd STREET USAのInstagram投稿画像"></li>
              <li><img src="/img/top/usa/img_03.jpg" alt="2nd STREET USAのInstagram投稿画像"></li>
              <li><img src="/img/top/usa/img_04.jpg" alt="2nd STREET USAのInstagram投稿画像"></li>
              <li><img src="/img/top/usa/img_05.jpg" alt="2nd STREET USAのInstagram投稿画像"></li>
              <li><img src="/img/top/usa/img_06.jpg" alt="2nd STREET USAのInstagram投稿画像"></li>
              <li><img src="/img/top/usa/img_07.jpg" alt="2nd STREET USAのInstagram投稿画像"></li>
              <li><img src="/img/top/usa/img_08.jpg" alt="2nd STREET USAのInstagram投稿画像"></li>
            </ul>
            <div class="usa_txt">
              <%- include(relativePath + '_utilities/_picture', {src: '/img/top/usa/txt_sm.png', alt: 'MORE VALUEBLE THAN NEW.'});%>
            </div>
            <p class="usa_desc">セカンドストリートがアメリカにオープン!<br>セカンドストリートUSA公式インスタグラムでは<br>お店の様子やアイテムを随時アップしています。</p>
            <div class="usa_btn"><a class="m-btn m-btn-instagram m-btnEffect" href="https://www.instagram.com/2ndstreetusa/" target="_blank" rel="noopener noreferrer">詳しく見る<svg><use xlink:href="/img/common/sprite.svg#instagram" /></svg></a></div>
          </div>
        </div>
      </section>

      <section class="c-nongrid original js-waypointTarget">
        <p class="c-nongrid_verticaltxt RalewayBold u-hidden-sm">A.Q. ANTIQULOTHES</p>
        <div class="c-nongrid_inner c-nongrid_inner-img">
          <img class="c-nongrid_img c-nongrid_img-01" src="/img/top/original_img_02.jpg" alt="イメージ画像：A.Q. ANTIQULOTHES">
          <img class="c-nongrid_img c-nongrid_img-02" src="/img/top/original_img_01.jpg" alt="イメージ画像：A.Q. ANTIQULOTHES">
        </div>
        <div class="c-nongrid_inner c-nongrid_inner-contents">
          <h2 class="c-nongrid_title RalewayExtraBold">A.Q.<br>ANTIQULOTHES</h2>
          <p class="c-nongrid_desc">あらゆる服を見てきたからこそ、作り出せるものがある。<br>セカンドストリートのオリジナルブランドです。</p>
          <div class="c-nongrid_btn"><a class="m-btn m-btnEffect" href="http://antiqulothes.com/" target="_blank" rel="noopener noreferrer">詳しく見る<span class="m-newWindow m-newWindow-white"><svg class="svgIcon svgIcon-contents" viewBox="0 0 200 200"><use xlink:href="/img/common/sprite.svg#link" /></svg></span></a></div>
        </div>
      </section>

      <section class="c-nongrid kurofine js-waypointTarget">
        <div class="c-nongrid_inner c-nongrid_inner-contents">
          <h2 class="c-nongrid_title RalewayExtraBold">KUROFINE</h2>
          <p class="c-nongrid_desc">色褪せや汚れが気になる大切な一枚を<br>黒に染め上げ、皆様のお手元にお返しいたします。</p>
          <div class="c-nongrid_btn"><a class="m-btn m-btnEffect" href="/exp/kurofine/">詳しく見る</a></div>
        </div>
        <div class="c-nongrid_inner c-nongrid_inner-img">
          <img class="c-nongrid_img c-nongrid_img-01" src="/img/top/kurofine_img_02.jpg" alt="イメージ画像：KUROFINE">
          <img class="c-nongrid_img c-nongrid_img-02" src="/img/top/kurofine_img_01.jpg" alt="イメージ画像：KUROFINE">
        </div>
        <p class="c-nongrid_verticaltxt RalewayBold u-hidden-sm">KUROFINE</p>
      </section>

      <section class="about section js-waypointTarget">
        <h2 class="section_title RalewayExtraBold">ABOUT</h2>
        <div class="about_inner">
          <div class="about_bg">
            <!-- <div> -->
              <%- include(relativePath + '_utilities/_picture', {src: '/img/top/about_bg_01_sm.jpg', alt: 'イメージ画像：セカンドストリート'});%>
            <!-- </div> -->
<!--             <div>
              <%- include(relativePath + '_utilities/_picture', {src: '/img/top/about_bg_02_sm.jpg', alt: 'イメージ画像：セカンドストリート'});%>
            </div>
            <div>
              <%- include(relativePath + '_utilities/_picture', {src: '/img/top/about_bg_03_sm.jpg', alt: 'イメージ画像：セカンドストリート'});%>
            </div> -->
          </div>
          <h3 class="about_txt about_txt-01">セカンドストリートとは</h3>
          <p class="about_txt about_txt-02">About 2nd STREET</p>
          <p class="about_txt about_txt-03">セカンドストリートは<br>全国600店舗以上の実店舗と、オンラインストアにおいて<br>中古品買取と販売を行う総合リユースショップです。</p>
          <p class="about_txt about_txt-03">洋服（古着）・バッグを中心に<br>ハイブランド品、家具家電まで幅広く取扱しています。</p>
          <p class="about_txt about_txt-04">リユースをもっと楽しく！<br class="u-hidden-md u-hidden-lg">セカンドストリートに行ってみよう！</p>
        </div>
        <ul class="about_list">
          <li>
            <a href="#" class="js-aboutModalTrigger" data-modal-id="01">
              <%- include(relativePath + '_utilities/_picture', {src: '/img/top/about_img_01_sm.jpg', alt: '画像：新品だけじゃ、おしゃれはおもしろくない！'});%>
              <p>新品だけじゃ、おしゃれはおもしろくない！<span class="about_list_icon"></span></p>
            </a>
          </li>
          <li>
            <a href="#" class="js-aboutModalTrigger" data-modal-id="02">
              <%- include(relativePath + '_utilities/_picture', {src: '/img/top/about_img_02_sm.jpg', alt: '画像：使う期間が短い子育てアイテムはおトク！'});%>
              <p>使う期間が短い子育てアイテムはおトク！<span class="about_list_icon"></span></p>
            </a>
          </li>
          <li>
            <a href="#" class="js-aboutModalTrigger" data-modal-id="03">
              <%- include(relativePath + '_utilities/_picture', {src: '/img/top/about_img_03_sm.jpg', alt: '画像：欲しかった話題の家電も手に入る！'});%>
              <p>欲しかった話題の家電も手に入る！<span class="about_list_icon"></span></p>
            </a>
          </li>
        </ul>
      </section>

      <!-- pagetop -->
      <%- include(relativePath + '_partials/_pagetop')%>

    </main>


    <!-- footer START -->
    <%- include(relativePath + '_partials/_footer', {page: pageID})%>
    <!-- footer END -->


  </div>

  <!-- 診断 modal -->
  <%- include(relativePath + '_partials/_diagnosis')%>

  <!-- 条件検索 modal -->
  <%- include(relativePath + '_partials/_filterSearch')%>

  <!-- modal -->
  <div class="modal_mask"></div>
  <div class="modal">
    <div class="modal_outer">
      <div class="modal_closeBtn"><span></span></div>
      <div class="modal_inner">
        <article class="modal_content modal_content-01">
          <section>
            <div class="modal_bg">
              <p class="modal_subtitle">ファッショニスタ達が語る、リユースの魅力</p>
              <h2 class="modal_title">新品だけじゃ、<br class="u-hidden-md u-hidden-lg">おしゃれは面白くない!</h2>
              <div class="modal_img">
                <%- include(relativePath + '_utilities/_picture', {src: '/img/top/modal_img_01_01_sm.jpg', alt: '画像：新品だけじゃ、おしゃれは面白くない!'});%>
              </div>
              <p class="modal_desc">スタイリスト、ヘアメイク、モデルという、現役のファッショニスタに、<br class="u-hidden-sm">古着店の魅力などを語っていただきました。<br class="u-hidden-sm">実は彼らもリユースのアイテムを使って上手にコーディネートしてるんです。</p>
              <ul class="modal_introduction">
                <li class="modal_introduction_unit">
                  <img class="modal_introduction_img" src="/img/top/modal_img_01_04.jpg" alt="スタイリスト 八木啓紀">
                  <div>
                    <p class="modal_introduction_occupation">スタイリスト</p>
                    <p class="modal_introduction_name">八木 啓紀</p>
                    <p class="modal_introduction_desc">スタイリスト丸山晃に5年間師事し、2013年独立。現在は雑誌、アーティスト、広告など、様々な分野で活動中。<br><a href="https://www.hironoriyagi.com/" target="_blank" rel="noopener noreferrer">www.hironoriyagi.com<span class="m-newWindow m-newWindow-red"><svg class="svgIcon svgIcon-contents" viewBox="0 0 200 200"><use xlink:href="/img/common/sprite.svg#link" /></svg></span></a></p>
                  </div>
                </li>
                <li class="modal_introduction_unit">
                  <img class="modal_introduction_img" src="/img/top/modal_img_01_05.jpg" alt="ヘアメイク 谷口友海">
                  <div>
                    <p class="modal_introduction_occupation">ヘアメイク</p>
                    <p class="modal_introduction_name">谷口 友海</p>
                    <p class="modal_introduction_desc">MINX、CANAANと人気のサロンでヘアスタイリストを務めた後、2016年独立。<br class="u-hidden-sm">ヘアメイクアップアーティストとして独立。広告、CM、PV、雑誌など様々な媒体を手がける。<br>Instagram: <a href="https://www.instagram.com/tomomimf/" target="_blank" rel="noopener noreferrer">@tomomimf<span class="m-newWindow m-newWindow-red"><svg class="svgIcon svgIcon-contents" viewBox="0 0 200 200"><use xlink:href="/img/common/sprite.svg#link" /></svg></span></a></p>
                  </div>
                </li>
                <li class="modal_introduction_unit">
                  <img class="modal_introduction_img" src="/img/top/modal_img_01_06.jpg" alt="モデル 忍舞（しのぶ）">
                  <div>
                    <p class="modal_introduction_occupation">モデル</p>
                    <p class="modal_introduction_name">忍舞（しのぶ）</p>
                    <p class="modal_introduction_desc">arやCYANなど、ビューティー雑誌を中心に活動するモデル。ファッションやメイクだけでなく、旅行や食など、<br class="u-hidden-sm">彼女の素顔が覗けるインスタグラム<a href="https://www.instagram.com/sinobu_uta/" target="_blank" rel="noopener noreferrer">@sinobu_uta<span class="m-newWindow m-newWindow-red"><svg class="svgIcon svgIcon-contents" viewBox="0 0 200 200"><use xlink:href="/img/common/sprite.svg#link" /></svg></span></a>は4万人近くのフォロワーが。</p>
                  </div>
                </li>
              </ul>
            </div>
            <section class="modal_section">
              <h3 class="modal_section_title">柄や素材など、<br class="u-hidden-md u-hidden-lg">ユニークなディテールも古着の魅力。</h3>
              <dl class="modal_talk">
                <dt>谷口</dt>
                <dd>みなさん、捨てられない古着ってありますか？</dd>
              </dl>
              <dl class="modal_talk">
                <dt>八木</dt>
                <dd>Tシャツは結構思い入れが強いから、ボロボロで着なくなっても持ってますね。そんなにかさばらないし、捨てなくてもいいかなって。あと、もしかしたら付加価値が付いて売れるんじゃないかって思ったり（笑）。古着って、やっぱり独特の魅力がありますよね。</dd>
              </dl>
              <div class="modal_img">
                <%- include(relativePath + '_utilities/_picture', {src: '/img/top/modal_img_01_02_sm.jpg', alt: '画像：柄や素材など、ユニークなディテールも古着の魅力。'});%>
              </div>
              <dl class="modal_talk">
                <dt>忍舞</dt>
                <dd>私は、古着だとまず他人とカブらないっていうのが大きいかな。</dd>
              </dl>
              <dl class="modal_talk">
                <dt>谷口</dt>
                <dd>そうそう！ 一緒のものを着てる人とすれ違うと、すごい嫌ですよね（苦笑）。お店の人から「これ人気ですよ～」って言われると、逆に悩んじゃったりしちゃうかも。意外とそういうコって多いと思う。</dd>
              </dl>
              <dl class="modal_talk">
                <dt>忍舞</dt>
                <dd>古着は柄も可愛いですよね。ボタンとかも大きかったり、素材が面白かったり、現行のものにはない良さがあると思う。</dd>
              </dl>
              <dl class="modal_talk">
                <dt>谷口</dt>
                <dd>最近の私の定番は、新品と古着をミックスするスタイルですね。</dd>
              </dl>
              <dl class="modal_talk">
                <dt>忍舞</dt>
                <dd>新品のシンプルなTシャツに古着を合わせると、かわいいですよね！古着のシャツに新品のワイドパンツとかもよく合わせるかも。</dd>
              </dl>
              <dl class="modal_talk">
                <dt>谷口</dt>
                <dd>シンプルなものは新品で、柄物などは古着で、ってパターンは、確かに多いかも。</dd>
              </dl>
            </section>
            <section class="modal_section">
              <h3 class="modal_section_title">おしゃれ初心者におすすめの<br class="u-hidden-md u-hidden-lg">リユースアイテムは？</h3>
              <dl class="modal_talk">
                <dt>忍舞</dt>
                <dd>スカーフは取り入れやすいと思う。安いし、新品にはない個性的な柄も面白いし。好きな色とか柄のものをシンプルなTシャツの首もとに巻いたり、カチューシャ代わりにしてもいいし。エルメスとかなかなか手の届かないハイブランドのものもかなり安い値段で買えたり、可愛いものでも3000円くらいのものがあったりするんだよね。</dd>
              </dl>
              <dl class="modal_talk">
                <dt>八木</dt>
                <dd>僕はやっぱりメンズなんで、Tシャツがおすすめですね。個人的にはカルト的な映画のTシャツを探してて。今はレアなTシャツを集めてるお店もあるから、お金を積めばすぐ見つかると思うんですけど、やっぱり安くで探すのがいいんですよね。</dd>
              </dl>
              <dl class="modal_talk">
                <dt>忍舞</dt>
                <dd>古着のデニムは、高校生くらいの時に買ったのも持ってたり（笑）。10年以上寝かせて、今だ！ってタイミングを見計らって着たりしてる。</dd>
              </dl>
              <dl class="modal_talk">
                <dt>谷口</dt>
                <dd>そうそう！古着は寝かせるのが基本（笑）。いつかいつかって思って、時期が来たら使うのが楽しいんです。だから、古着は「これだ！」って時に買わないと。</dd>
              </dl>
              <div class="modal_img">
                <%- include(relativePath + '_utilities/_picture', {src: '/img/top/modal_img_01_03_sm.jpg', alt: '画像：おしゃれ初心者におすすめのリユースアイテムは？'});%>
              </div>
              <dl class="modal_talk">
                <dt>忍舞</dt>
                <dd>私は、かなり買っちゃう人なんで、売りにも行きます。それこそ、こないだセカンドストリートさんに売りに行きました（笑）。ファストブランドのものも思ったより高く売れましたよ。でも、査定を待ってる間に買い物しちゃったり。このベルサーチの靴もセカンドストリートの買取を待ってる間に見つけちゃって。私、足が小さめなんで、古着の方がサイズがあるんです。</dd>
              </dl>
              <dl class="modal_talk">
                <dt>谷口</dt>
                <dd>サイズ感もそうだけど、いろんなシルエットのものがあるから古着は面白いよね！</dd>
              </dl>
            </section>
          </section>
          <p class="modal_info">2017年9月25日作成</p>
        </article>

        <article class="modal_content modal_content-02">
          <section>
            <div class="modal_bg">
              <p class="modal_subtitle">使う期間が短いからリユースがおトク！</p>
              <h2 class="modal_title">セカンドストリートで見つけた<br>ママもパパも便利な<br class="u-hidden-md u-hidden-lg">子育てアイテム</h2>
              <div class="modal_img">
                <%- include(relativePath + '_utilities/_picture', {src: '/img/top/modal_img_02_01_sm.jpg', alt: '画像：セカンドストリートで見つけたママもパパも便利な子育てアイテム'});%>
              </div>
              <p class="modal_desc">便利な子育てアイテムは数あれど、<br class="u-hidden-sm">「どれが必要なのかわからない」と思っているパパ、ママも多いはず。<br class="u-hidden-sm">実際、「買ったけどあまり使わなかった」という声もよく耳にします。<br class="u-hidden-sm">使用期間も短いため、子育てアイテムこそリユースの活用がオススメです。</p>
            </div>
            <section class="modal_section">
              <h3 class="modal_section_title">かわいいセレモニードレスも<br class="u-hidden-md u-hidden-lg">リユースで賢く手に入れよう</h3>
              <div class="modal_img">
                <%- include(relativePath + '_utilities/_picture', {src: '/img/top/modal_img_02_02_sm.jpg', alt: '画像：かわいいセレモニードレスもリユースで賢く手に入れよう'});%>
              </div>
              <p class="modal_section_txt">結婚式への参列や習いごとの発表会など、ハレの日に必要なセレモニードレスは、次に着る機会もなくサイズアウトしてしまうことがよくあります。セカンドストリートにも、かわいいセレモニードレスがおトクな値段でたくさん並んでいました。必要なときにリーズナブルに手に入れて、またリユースするのも賢い方法。</p>
            </section>
            <section class="modal_section">
              <h3 class="modal_section_title">パパとのお出かけに便利な<br class="u-hidden-md u-hidden-lg">ベビーカーもリユースで</h3>
              <div class="modal_img">
                <%- include(relativePath + '_utilities/_picture', {src: '/img/top/modal_img_02_03_sm.jpg', alt: '画像：パパとのお出かけに便利なベビーカーもリユースで'});%>
              </div>
              <p class="modal_section_txt">子育てには必須のベビーカー。使う期間が短いベビーカーをリユースで買うのもひとつの選択肢。ママと子どもだけでお出かけするときにはコンパクトにたためる軽いタイプが使いやすいですが、タイヤが大きくて頑丈なタイプは、段差などに強いのでラクに押せます。</p>
            </section>
          </section>
          <p class="modal_info">文：山本久美<br>2018年5月8日作成</p>
        </article>

        <article class="modal_content modal_content-03">
          <section>
            <div class="modal_bg">
              <p class="modal_subtitle">家事の負担も軽くなり暮らしも快適に</p>
              <h2 class="modal_title">話題になったあの家電を<br>リユースでおトクに<br class="u-hidden-md u-hidden-lg">手に入れよう！</h2>
              <div class="modal_img">
                <%- include(relativePath + '_utilities/_picture', {src: '/img/top/modal_img_03_01_sm.jpg', alt: '画像：話題になったあの家電をリユースでおトクに手に入れよう！'});%>
              </div>
              <p class="modal_desc">セカンドストリートで見つけた、家事の負担を軽くしたり、生活を快適にしたりするアイテムをご紹介。<br class="u-hidden-sm">話題になったあこがれのあの家電も、リユースであればおトクに手に入れることができます。</p>
            </div>
            <section class="modal_section">
              <h3 class="modal_section_title">負担が大きい床掃除は<br class="u-hidden-md u-hidden-lg">ルンバにおまかせ！</h3>
              <div class="modal_img">
                <%- include(relativePath + '_utilities/_picture', {src: '/img/top/modal_img_03_02_sm.jpg', alt: '画像：負担が大きい床掃除はルンバにおまかせ！'});%>
              </div>
              <p class="modal_section_txt">ロボット掃除機の代表格といえば、やっぱりアイロボット社のルンバ。最新のハイエンドモデルは10万円を超える高額商品ですが、リユースなら手ごろな価格で手に入ります。今回セカンドストリートで見つけたモデルは、2014年に発売されたルンバ622。最新モデルは吸引力に優れていたり、長時間駆動ができたりといった良さはありますが、そこまで高機能でなくても、日々たまるほこりをサッと吸い込んでくれればそれで十分。大切なのはルンバをこまめに稼働させることです。</p>
            </section>
            <section class="modal_section">
              <h3 class="modal_section_title">温度と空気を管理して<br class="u-hidden-md u-hidden-lg">快適な暮らしを送ろう</h3>
              <div class="modal_img">
                <%- include(relativePath + '_utilities/_picture', {src: '/img/top/modal_img_03_03_sm.jpg', alt: '画像：温度と空気を管理して快適な暮らしを送ろう'});%>
              </div>
              <p class="modal_section_txt">大流行した高額扇風機の中でも注目したいのが、ダイソンの空気洗浄機能つきファン。高速回転する羽根がないので、小さいお子さんがいるご家庭でも安心な上に、空気清浄機能もついています。最新機種は7万円超えの商品ですが、セカンドストリートにあった2015年モデルのAM11なら27,900円（税抜）で手に入れることが可能です。セカンドストリートでは、リユースならではのリーズナブルな価格で、快適な環境作りのための家電をおトクに手に入れることができます。</p>
              <p class="modal_section_note">※今回ご紹介したアイテムはすべて１点ものなので、在庫がない場合もございます。詳しくはお近くのお店へお問合せください。</p>
            </section>
          </section>
          <p class="modal_info">文：栗山琢宏<br>2018年5月16日作成</p>
        </article>

      </div>
    </div>
  </div>

  <!-- lib -->
  <%- include(relativePath + '_partials/_lib')%>
  <script src="/js/vendor/ofi.min.js"></script>
  <script src="/js/vendor/slick/slick.min.js"></script>
  <script src="/js/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/top.js"></script>
</body>

</html>